In [1]:
import geopandas as gpd
import pandas as pd
pd.set_option('display.max_columns', 80)
from shapely.geometry import Point, LineString
from geopandas import GeoDataFrame
from matplotlib.colors import LinearSegmentedColormap
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime

## Classifying investor purchases

Process to classify deeds as (a) residential properties, (b) likely purchased by investors.

## 1. Selecting deeds that fall within residential parcels

Using land use data from the city of Philadelphia (see original source [here](https://www.opendataphilly.org/dataset/land-use))

In [2]:
# read in land use file
landuse = gpd.read_file("../00_data/RAW/philadelphia/land_use/Land_Use_2019/Land_Use.shp")

In [3]:
# creating a more narrow set of residential parcels
# just low and medium residential uses
res = landuse.loc[(landuse['C_DIG2DESC']=='Residential Medium') | 
                    (landuse['C_DIG2DESC']=='Residential Low')]

# dropping pacels with na values for their geometry
res = res.dropna(subset=['geometry'])

# reprojecting residential low/med only category
res = res.to_crs('epsg:2272')

In [4]:
# reading in the real estate tax transfer data
rtt = pd.read_csv("../00_data/RAW/philadelphia/realestate_tax_transfers_2021/rtt_summary.csv")

/Users/darebrawley/anaconda3/envs/geo-2021/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (26,34,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# selecting just deeds (not mortgages and other transfer taxes)
deeds = rtt.loc[rtt['document_type'] == "DEED"]
# adding a year column from the document date
deeds["sort_year"] = deeds['display_date'].astype(str).str[:4]

/Users/darebrawley/anaconda3/envs/geo-2021/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
deeds

,objectid,document_id,document_type,display_date,street_address,zip_code,ward,grantors,grantees,cash_consideration,other_consideration,total_consideration,assessed_value,common_level_ratio,fair_market_value,state_tax_amount,state_tax_percent,local_tax_amount,local_tax_percent,adjusted_cash_consideration,adjusted_other_consideration,adjusted_total_consideration,adjusted_assessed_value,adjusted_fair_market_value,adjusted_state_tax_amount,adjusted_local_tax_amount,receipt_num,receipt_date,recording_date,document_date,condo_name,unit_num,address_low,address_low_suffix,address_low_frac,address_high,street_predir,street_name,street_suffix,street_postdir,reg_map_id,matched_regmap,opa_account_num,legal_remarks,discrepancy,property_count,lat,lng,sort_year
319,7741116,50128982,DEED,2000-08-25 00:00:00,NaN,NaN,NaN,MISSING DOCUMENT,MISSING DOCUMENT,1.0,NaN,1.0,NaN,NaN,16464.00,0.0,100.0,0.00,100.0,1.0,NaN,1.0,NaN,16464.00,NaN,NaN,NaN,2000-08-25 00:00:00,2000-08-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,1.0,-75.300143,39.849999,2000
320,7741117,50128987,DEED,2000-08-25 00:00:00,NaN,NaN,NaN,MISSING DOCUMENT,MISSING DOCUMENT,1.0,NaN,1.0,NaN,NaN,164640.00,0.0,100.0,0.00,100.0,1.0,NaN,1.0,NaN,164640.00,NaN,NaN,NaN,2000-08-25 00:00:00,2000-08-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,1.0,-75.300143,39.849999,2000
465,7741398,51075355,DEED,2004-12-07 00:00:00,NaN,NaN,NaN,PHILADELPHIA AUTHORITY FOR INDUSTRIAL DEVELOPMENT,PIDC FINANCING CORPORATION,33600.0,NaN,33600.0,NaN,NaN,0.00,0.0,100.0,0.00,100.0,33600.0,NaN,33600.0,NaN,NaN,NaN,NaN,NaN,2004-12-10 00:00:00,2004-12-10 00:00:00,2004-12-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,1.0,-75.300143,39.849999,2004
470,7741283,50791375,DEED,2003-10-10 00:00:00,NaN,NaN,NaN,DEL VALLE PENNYS M,DEJESUS NAZARIO,50000.0,NaN,50000.0,NaN,NaN,18116.16,500.0,100.0,1500.00,100.0,50000.0,NaN,50000.0,NaN,18116.16,500.0,1500.00,NaN,2003-10-28 00:00:00,2003-10-28 00:00:00,2003-10-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,1.0,-75.300143,39.849999,2003
474,7741287,50853599,DEED,2004-01-21 00:00:00,NaN,NaN,NaN,COMMONWEALTH OF PENNSYLVANIA,BEACH STREET CORP,71150.0,0.0,71150.0,NaN,NaN,3303216.00,711.5,100.0,2134.50,100.0,71150.0,NaN,71150.0,NaN,3303216.00,711.5,2134.50,NaN,2004-01-28 00:00:00,2004-01-28 00:00:00,2004-01-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,1.0,-75.300143,39.849999,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4172524,11937539,53751061,DEED,2020-11-05 00:00:00,1739 S 12TH ST,19148.0,39.0,HUANG QI PING; LU RONG YUAN,510 PHILADELPHIA LLC,385000.0,0.0,385000.0,500900.0,1.06,530954.00,3850.0,100.0,12620.30,100.0,385000.0,NaN,385000.0,500900.0,530954.00,3850.0,12620.30,20-111541,2020-11-18 00:00:00,2020-11-18 00:00:00,2020-11-05 00:00:00,NaN,NaN,1739.0,NaN,NaN,NaN,S,12TH,ST,NaN,NaN,013S110242,394589505.0,NaN,no,1.0,-75.164977,39.927630,2020
4172541,11937977,53751528,DEED,2020-11-12 00:00:00,4709 FRANKFORD AVE,19124.0,23.0,NGUYEN THANH KIM,2906-8 N FIVE CORP,175000.0,0.0,175000.0,137200.0,1.06,145432.00,1750.0,100.0,5736.50,100.0,175000.0,NaN,175000.0,137200.0,145432.00,1750.0,5736.50,20-111954,2020-11-19 00:00:00,2020-11-19 00:00:00,2020-11-12 00:00:00,NaN,NaN,4709.0,NaN,NaN,NaN,NaN,FRANKFORD,AVE,NaN,NaN,088N170157,871112300.0,NaN,no,1.0,-75.083188,40.016929,2020
4172542,11937978,53751529,DEED,2020-11-11 00:00:00,1305 N 51ST ST,19131.0,44.0,BS PROPS LLC,TCS ANIKA HOMES ACQUISITIONS III,62500.0,0.0,62500.0,55300.0,1.06,58618.00,625.0,100.0,2048.75,100.0,62500.0,NaN,62500.0,55300.0,58618.00,625.0,2048.75,20-111955,2020-11-19 00:00:00,2020-11-19 00:00:00,2020-11-11 00:00:00,NaN,NaN,1305.0,NaN,NaN,NaN,N,51ST,ST,NaN,NaN,074N010162,442249600.0,NaN,no,1.0,-75.223741,39.973420,2020
4172549,11937985,53751536,DEED,2020-11-09 00:00:00,158 GREENDALE RD,19154.0,66.0,BYRNE SEAN,GORHAM MALLORY; GORHAM PATRICK,305000.0,0.0,305000.0,0.0,1.06,0.00,3050.0,100.0,9997.90,100.0,305000.0,NaN,305000.0,NaN,NaN,3050.0,9997.90,20-111957,2020-11-19 00:00:00,2020-11-19 00:00:00,2020-11-09 00:00:00,NaN,NaN,158.0,NaN,NaN,NaN,NaN,GREENDALE,RD,NaN,NaN,153N161057,662326800.0,NaN,no,1.0,-74.974204,40.074521,2020
4172552,11937988,53751539,DEED,2020-10-30 00:00:00,4435 MITCHELL ST,19128.0,21.0,SHAPIRO ERIC M; SHAPIRO NICOLE N,DARABI ALI; TOFIGH MAHSHID,295000.0,0.0,295000.0,241600.0,1.06,256096.00,2950.0,100.0,9670.10,100.0,295000.0,NaN,295000.0,241600.0,256096.00,2950.0,9670.10,20-111959,2020-11-19 00:00:00,2020-11-19 00:00:00,2020-10-30 00:00:00,NaN,NaN,4435.0,NaN,NaN,NaN,NaN,MITCHELL,ST,NaN,NaN,092N150153,212209600.0,NaN,no,1.0,-75.216538,40.032338,2020

In [7]:
# defining points from lat/lon
deeds_points = [Point(xy) for xy in zip(deeds.lat,deeds.lng)]
deedsgeo = GeoDataFrame(deeds, geometry=deeds_points)

In [8]:
# selecting only deeds with non zero state taxes
deedsgeo = deedsgeo.loc[deedsgeo["state_tax_amount"] > 0]

# and that also have an address field
deedsgeo= deedsgeo.loc[deedsgeo["address_low"]>0]

In [9]:
# setting the projection for the lat lon coordinates 
deedsgeo.crs = 'epsg:4326'

In [10]:
# reprojecting to: EPSG:2272: NAD83 / Pennsylvania South (ftUS)
deedsgeo = deedsgeo.to_crs('epsg:2272')

In [11]:
# spatial join between deeds and residential parcels (to find only those deeds within residential parcels)
deeds_res = gpd.sjoin(deedsgeo,res, how="inner",op="within")

## 2. Identify likely investor purchases
First tag all grantees with corporate entity names. Then find all investors who purchased more than 2 properties in any one year span.   

### 2A. Identifying Deeds with likely investors as the grantee based on grantee name
First tag all investor named entities   
  - LLC
  - LP
  - LIMITED PARTNERSHIP
  - CORP
  - CORPORATION
  - INC
  - COMPANY
  - LIMITED PARTNE
  - L P
  - L L C
  - PARTNERSHIP
  - LTD
  - TRUST

In [12]:
# selecting just post-2000 deeds
deeds_res['sort_year'] = pd.to_numeric(deeds_res['sort_year'])
deeds_res = deeds_res.loc[deeds_res['sort_year']>1999]

# selecting investors by grantee name
inv = deeds_res['grantees'].str.contains(
    'LLC|LP|LIMITED PARTNERSHIP|CORP|CORPORATION|INC|COMPANY|LIMITED PARTNE|L P|L L C|PARTNERSHIP|LTD|TRUST'
    ,regex=True)

# converting investors series to dataframe
inv = inv.to_frame()

# merging with deeds
deeds_inv = deeds_res.merge(
    inv, left_index=True, right_index = True)
deeds_inv = deeds_inv.dropna(subset=['grantees_x'])

# creating a count column to allow grouping and count 
# for investor and owner by year 
deeds_inv['inv'] = deeds_inv['grantees_y'].apply(lambda x: 1 if x == True else 0)
deeds_inv['occ'] = deeds_inv['grantees_y'].apply(lambda x: 1 if x == False else 0)

# dropping duplicate object ids from the dataset
deeds_inv = deeds_inv.drop_duplicates(subset="objectid")

### 2B. Classifying investor purchases by multiple purchasers
Identifying grantees who purchased more than 2 properties in any one year period from the full set of non-investor classified deeds:

In [13]:
# finding multiple purchasers from the full set of non-investor classified deeds
# selecting from just the non llc llp deeds
occ = deeds_inv.loc[deeds_inv['occ']==1]

In [14]:
# getting all deeds from purchasers who are associated with more than one deed
multiple_purchasers = occ.groupby(
    "grantees_x").filter(lambda s: s['objectid'].count()>=2)

In [15]:
# converting date to datetime format
multiple_purchasers['display_date'] = multiple_purchasers[
    'display_date'].astype('datetime64[ns]')

In [16]:
# dropping unneeded columns
columns_multi = ['objectid','grantors','grantees_x',
                 'display_date','sort_year','street_address']
multiple_purchase_simple = multiple_purchasers[columns_multi]

In [17]:

multiple_purchase_simple[
    'elapsed'] = multiple_purchase_simple.sort_values(
    ['grantees_x','display_date']).groupby(
    'grantees_x')['display_date'].diff()

# converting timedelta column to an int type 
# to make it possible to filter below
multiple_purchase_simple[
    'elapsed_days'] = multiple_purchase_simple[
    'elapsed'].dt.days

/Users/darebrawley/anaconda3/envs/geo-2021/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/darebrawley/anaconda3/envs/geo-2021/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [18]:
# filtering for deeds from grantees who purchased two properties within 1 year of each other
multiple_investors = multiple_purchase_simple.groupby('grantees_x').filter(
    lambda x: x['elapsed_days'].min() <= 365)
multiple_investors['multi_invest'] = 1

## 4. merging multiple purchase investors back with full set of deeds

Compiling a comprehensive classification of investor purchases

In [19]:
deeds_multi = deeds_inv.merge(
    multiple_investors, left_on="objectid", right_on="objectid",how="left")

deeds_multi["investor_all"] = deeds_multi[
    "inv"] + deeds_multi["multi_invest"].fillna(0)
deeds_multi['owner_occup'] = deeds_multi[
    'investor_all'].apply(lambda x: 0 if x == 1 else 1)

In [20]:
deeds_multi.head()

,objectid,document_id,document_type,display_date_x,street_address_x,zip_code,ward,grantors_x,grantees_x_x,cash_consideration,other_consideration,total_consideration,assessed_value,common_level_ratio,fair_market_value,state_tax_amount,state_tax_percent,local_tax_amount,local_tax_percent,adjusted_cash_consideration,adjusted_other_consideration,adjusted_total_consideration,adjusted_assessed_value,adjusted_fair_market_value,adjusted_state_tax_amount,adjusted_local_tax_amount,receipt_num,receipt_date,recording_date,document_date,condo_name,unit_num,address_low,address_low_suffix,address_low_frac,address_high,street_predir,street_name,street_suffix,street_postdir,reg_map_id,matched_regmap,opa_account_num,legal_remarks,discrepancy,property_count,lat,lng,sort_year_x,geometry,index_right,OBJECTID,C_DIG1,C_DIG1DESC,C_DIG2,C_DIG2DESC,C_DIG3,C_DIG3DESC,VACBLDG,YEAR,Shape__Are,Shape__Len,grantees_y,inv,occ,grantors_y,grantees_x_y,display_date_y,sort_year_y,street_address_y,elapsed,elapsed_days,multi_invest,investor_all,owner_occup
0,7744699,50942296,DEED,2004-04-02 00:00:00,3083 MEMPHIS ST,19134.0,25.0,MCCAFFERTY MARIE E; TUCKER MARGARET T,IRWIN LEIGHANNE,58900.0,NaN,58900.0,NaN,NaN,30699.84,589.0,100.0,1767.0,100.0,58900.0,NaN,58900.0,NaN,30699.84,589.0,1767.0,NaN,2004-06-07 00:00:00,2004-06-07 00:00:00,2004-04-02 00:00:00,NaN,NaN,3083.0,NaN,NaN,NaN,NaN,MEMPHIS,ST,NaN,022N240033,022N240033,251496000.0,NaN,no,1.0,-75.109769,39.987205,2004,POINT (2708216.614 249254.488),285538,280539,1,Residential,12,Residential Medium,121,Residential Rowhouse,Fully Vacant,2014,952.673950,165.045972,False,0,1,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,0.0,1
1,7744935,50092387,DEED,2000-05-25 00:00:00,3631 AVALON ST,19114.0,66.0,TAYLOR COLERIDGE; TAYLOR ROBERT TR; TAYLOR RON...,FALLEN PAUL J III,92000.0,0.0,92000.0,NaN,NaN,63936.00,920.0,100.0,2760.0,100.0,92000.0,NaN,92000.0,NaN,63936.00,920.0,2760.0,NaN,2000-06-07 00:00:00,2000-06-07 00:00:00,2000-05-25 00:00:00,NaN,NaN,3631.0,NaN,NaN,NaN,NaN,AVALON,ST,NaN,084N180294,084N180294,661087900.0,NaN,no,1.0,-74.997365,40.074151,2000,POINT (2738711.806 281873.930),531365,530366,1,Residential,11,Residential Low,112,Residential SemiDetached,None,2016,3395.618225,298.879760,False,0,1,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,0.0,1
2,7744943,50942514,DEED,2004-05-28 00:00:00,3430 ALDINE ST,19136.0,64.0,ROWLAND JAMES; ROWLAND JOAN,RUTA JOSEPH M,123000.0,NaN,123000.0,NaN,NaN,43066.56,1230.0,100.0,3690.0,100.0,123000.0,NaN,123000.0,NaN,43066.56,1230.0,3690.0,NaN,2004-06-08 00:00:00,2004-06-08 00:00:00,2004-05-28 00:00:00,NaN,NaN,3430.0,NaN,NaN,NaN,NaN,ALDINE,ST,NaN,137N180119,137N180119,642110500.0,NaN,no,1.0,-75.041471,40.038977,2004,POINT (2726767.396 268684.790),474917,474918,1,Residential,12,Residential Medium,121,Residential Rowhouse,None,2015,1717.321350,237.627137,False,0,1,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,0.0,1
3,7744945,50942516,DEED,2004-05-28 00:00:00,5809 AKRON ST,19149.0,62.0,LAVIN BETH,DUFFIE JAMIE,93000.0,NaN,93000.0,NaN,NaN,45344.64,930.0,100.0,2790.0,100.0,93000.0,NaN,93000.0,NaN,45344.64,930.0,2790.0,NaN,2004-06-08 00:00:00,2004-06-08 00:00:00,2004-05-28 00:00:00,NaN,NaN,5809.0,NaN,NaN,NaN,NaN,AKRON,ST,NaN,139N020114,139N020114,621440200.0,NaN,no,1.0,-75.078006,40.028446,2004,POINT (2716658.617 264538.633),472581,472582,1,Residential,12,Residential Medium,121,Residential Rowhouse,None,2012,1555.363403,195.088770,False,0,1,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,0.0,1
4,7744231,50941882,DEED,2004-05-12 00:00:00,1403 ROSE PETAL WAY,19111.0,56.0,CHAMPION DEVELOPMENT CORPORATION,NVR INC,68500.0,NaN,68500.0,NaN,NaN,305913.60,685.0,100.0,2055.0,100.0,68500.0,NaN,68500.0,NaN,305913.60,685.0,2055.0,NaN,2004-06-07 00:00:00,2004-06-07 00:00:00,2004-05-12 00:00:00,NaN,NaN,1403.0,NaN,NaN,NaN,NaN,ROSE PETAL,WAY,NaN,154N130125,154N130125,562065112.0,SUB OF 33,no,1.0,-75.063039,40.070579,2004,POINT (2720380.991 280007.281),476313,475314,1,Residential,11,Residential Low,111,Residential Detached,None,2013,6734.606567,352.840272,True,1,0,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,1.0,0

In [21]:
# Saving classified deeds to speed up future processing time 
deeds_for_save = deeds_multi
deeds_for_save['elapsed'] = deeds_for_save['elapsed'].fillna(pd.Timedelta('999 days'))
deeds_for_save['elapsed'] = deeds_for_save['elapsed'].dt.days.astype('int16')
deeds_for_save['display_date_y'] = deeds_for_save['display_date_y'].astype(str)

In [22]:
# # saving final list of grantees
# with open("data/rtt_investors_classified.geojson",
#           'w') as f:
#     f.write(deeds_for_save.to_json())

FileNotFoundError: [Errno 2] No such file or directory: 'data/rtt_investors_classified.geojson'

## 5. Reimport geojson of classified deeds

To reimport classified deeds use gpd.read_file and then set the coordinate reference system:

In [3]:
# read in classified deeds file
rtt_classified = gpd.read_file("../00_data/PROCESSED/realestate_tax_transfers/rtt_investors_classified_2021.geojson")

KeyboardInterrupt:

In [143]:
# Specify coordinate reference system
rtt_classified.crs = 'epsg:2272'